body {
    font-family: 'Oswald', sans-serif;
}

.textonombre {
    font-size: 40px;
}

.menunav {
    font-family: 'Open Sans', sans-serif;
}

.imgFondo {
    background-image: url('../img/bg-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: 100vh;
    margin-top: 50px;
}

.encabezado1 {
    padding-top: 520px;
    font-size: 40px;
    font-weight: 200;
}

.encabezado2 {
    font-size: 40px;
}

.titulo1 {
    font-size: 35px;
}

.titulo2 {
    font-size: 25px;
    font-weight: 700;
}

.titulo3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;

}

.colortx {
    color: #373A3C;
}

.icono {
    color: #28A745;
}

.titulo2 a {
    color: #373A3C;
}

.titulo2 a:hover {
    color: #373A3C;
}

.titulo4 {
    font-size: 35px;
}

.card-title {
    font-size: 17px;
    font-weight: 400;
}

.card-text {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.iconos a {
    color: #ffffff;
}

.iconos a:hover {
    color: #ffffff;
}

.parrafo1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 2;
    letter-spacing: 4px;
}

.parrafo2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 3px;
}

.carousel-indicators {
    top: 260px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .imgFondo {
        background-position: center top;
        height: 100%;
        margin-top: 50px;
    }
    .encabezado1 {
        padding-top: 700px;
        font-size: 75px;
        font-weight: 200;
    }    
    .encabezado2 {
        font-size: 75px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .imgFondo {
        background-position: center top;
        height: 100%;
        margin-top: 50px;
    }
    .encabezado1 {
        padding-top: 990px;
        font-size: 75px;
        font-weight: 200;
    }    
    .encabezado2 {
        font-size: 75px;
        padding-bottom: 50px;
    }
}

@media (min-width: 1200px) {
    .imgFondo {
        background-position: center top;
        height: 100%;
        margin-top: 50px;
    }
    .encabezado1 {
        padding-top: 990px;
        font-size: 75px;
        font-weight: 200;
    }    
    .encabezado2 {
        font-size: 75px;
        padding-bottom: 50px;
    }
}
